/*
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
// @import "~/bootstrap/scss/functions";
// @import "~/bootstrap/scss/variables";
*/

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "/node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/images";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here

$black: #262626 !important;
$white: #fff !important;

// Black
.black {
    color: $white;
    background-color: $black;
}

// White
.white {
    color: $black;
    background-color: $white;
}

// red start
.red-50 {
    color: $black;
    background-color: #FFEBEE;
}
.red-100 {
    color: $black;
    background-color: #FFCDD2;
}
.red-200 {
    color: $black;
    background-color: #EF9A9A;
}
.red-300 {
    color: $black;
    background-color: #E57373;
}
.red-400 {
    color: $white;
    background-color: #EF5350;
}
.red-500 {
    color: $white;
    background-color: #F44336;
}
.red-600 {
    color: $white;
    background-color: #E53935;
}
.red-700 {
    color: $white;
    background-color: #D32F2F;
}
.red-800 {
    color: $white;
    background-color: #C62828;
}
.red-900 {
    color: $white;
    background-color: #B71C1C;
}
.red-a100 {
    color: $black;
    background-color: #FF8A80;
}
.red-a200 {
    color: $white;
    background-color: #FF5252;
}
.red-a400 {
    color: $white;
    background-color: #FF1744;
}
.red-a700 {
    color: $white;
    background-color: #D50000;
}
// red end

// Pink start
.pink-50 {
    color: $black;
    background-color: #FCE4EC;
}
.pink-100 {
    color: $black;
    background-color: #F8BBD0;
}
.pink-200 {
    color: $black;
    background-color: #F48FB1;
}
.pink-300 {
    color: $black;
    background-color: #F06292;
}
.pink-400 {
    color: $white;
    background-color: #EC407A;
}
.pink-500 {
    color: $white;
    background-color: #E91E63;
}
.pink-600 {
    color: $white;
    background-color: #D81B60;
}
.pink-700 {
    color: $white;
    background-color: #C2185B;
}
.pink-800 {
    color: $white;
    background-color: #AD1457;
}
.pink-900 {
    color: $white;
    background-color: #880E4F;
}
.pink-a100 {
    color: $black;
    background-color: #FF80AB;
}
.pink-a200 {
    color: $white;
    background-color: #FF4081;
}
.pink-a400 {
    color: $white;
    background-color: #F50057;
}
.pink-a700 {
    color: $white;
    background-color: #C51162;
}
// Pink end

// Purple start
.purple-50 {
    color: $black;
    background-color: #F3E5F5;
}
.purple-100 {
    color: $black;
    background-color: #E1BEE7;
}
.purple-200 {
    color: $black;
    background-color: #CE93D8;
}
.purple-300 {
    color: $white;
    background-color: #BA68C8;
}
.purple-400 {
    color: $white;
    background-color: #AB47BC;
}
.purple-500 {
    color: $white;
    background-color: #9C27B0;
}
.purple-600 {
    color: $white;
    background-color: #8E24AA;
}
.purple-700 {
    color: $white;
    background-color: #7B1FA2;
}
.purple-800 {
    color: $white;
    background-color: #6A1B9A;
}
.purple-900 {
    color: $white;
    background-color: #4A148C;
}
.purple-a100 {
    color: $black;
    background-color: #EA80FC;
}
.purple-a200 {
    color: $white;
    background-color: #E040FB;
}
.purple-a400 {
    color: $white;
    background-color: #D500F9;
}
.purple-a700 {
    color: $white;
    background-color: #AA00FF;
}
// Purple end

// Deep Purple start
.deep-purple-50 {
    color: $black;
    background-color: #EDE7F6;
}
.deep-purple-100 {
    color: $black;
    background-color: #D1C4E9;
}
.deep-purple-200 {
    color: $black;
    background-color: #B39DDB;
}
.deep-purple-300 {
    color: $white;
    background-color: #9575CD;
}
.deep-purple-400 {
    color: $white;
    background-color: #7E57C2;
}
.deep-purple-500 {
    color: $white;
    background-color: #673AB7;
}
.deep-purple-600 {
    color: $white;
    background-color: #5E35B1;
}
.deep-purple-700 {
    color: $white;
    background-color: #512DA8;
}
.deep-purple-800 {
    color: $white;
    background-color: #4527A0;
}
.deep-purple-900 {
    color: $white;
    background-color: #311B92;
}
.deep-purple-a100 {
    color: $black;
    background-color: #B388FF;
}
.deep-purple-a200 {
    color: $white;
    background-color: #7C4DFF;
}
.deep-purple-a400 {
    color: $white;
    background-color: #651FFF;
}
.deep-purple-a700 {
    color: $white;
    background-color: #6200EA;
}
// Deep Purple end

// Indigo start
.indigo-50 {
    color: $black;
    background-color: #E8EAF6;
}
.indigo-100 {
    color: $black;
    background-color: #C5CAE9;
}
.indigo-200 {
    color: $black;
    background-color: #9FA8DA;
}
.indigo-300 {
    color: $white;
    background-color: #7986CB;
}
.indigo-400 {
    color: $white;
    background-color: #5C6BC0;
}
.indigo-500 {
    color: $white;
    background-color: #3F51B5;
}
.indigo-600 {
    color: $white;
    background-color: #3949AB;
}
.indigo-700 {
    color: $white;
    background-color: #303F9F;
}
.indigo-800 {
    color: $white;
    background-color: #283593;
}
.indigo-900 {
    color: $white;
    background-color: #1A237E;
}
.indigo-a100 {
    color: $black;
    background-color: #8C9EFF;
}
.indigo-a200 {
    color: $white;
    background-color: #536DFE;
}
.indigo-a400 {
    color: $white;
    background-color: #3D5AFE;
}
.indigo-a700 {
    color: $white;
    background-color: #304FFE;
}
// Indigo end

// Blue start
.blue-50 {
    color: $black;
    background-color: #E3F2FD;
}
.blue-100 {
    color: $black;
    background-color: #BBDEFB;
}
.blue-200 {
    color: $black;
    background-color: #90CAF9;
}
.blue-300 {
    color: $black;
    background-color: #64B5F6;
}
.blue-400 {
    color: $black;
    background-color: #42A5F5;
}
.blue-500 {
    color: $black;
    background-color: #2196F3;
}
.blue-600 {
    color: $black;
    background-color: #1E88E5;
}
.blue-700 {
    color: $white;
    background-color: #1976D2;
}
.blue-800 {
    color: $white;
    background-color: #1565C0;
}
.blue-900 {
    color: $white;
    background-color: #0D47A1;
}
.blue-a100 {
    color: $black;
    background-color: #82B1FF;
}
.blue-a200 {
    color: $white;
    background-color: #448AFF;
}
.blue-a400 {
    color: $white;
    background-color: #2979FF;
}
.blue-a700 {
    color: $white;
    background-color: #2962FF;
}
// Blue end

// Light Blue start
.light-blue-50 {
    color: $black;
    background-color: #E1F5FE;
}
.light-blue-100 {
    color: $black;
    background-color: #B3E5FC;
}
.light-blue-200 {
    color: $black;
    background-color: #81D4FA;
}
.light-blue-300 {
    color: $black;
    background-color: #4FC3F7;
}
.light-blue-400 {
    color: $black;
    background-color: #29B6F6;
}
.light-blue-500 {
    color: $black;
    background-color: #03A9F4;
}
.light-blue-600 {
    color: $black;
    background-color: #039BE5;
}
.light-blue-700 {
    color: $white;
    background-color: #0288D1;
}
.light-blue-800 {
    color: $white;
    background-color: #0277BD;
}
.light-blue-900 {
    color: $white;
    background-color: #01579B;
}
.light-blue-a100 {
    color: $black;
    background-color: #80D8FF;
}
.light-blue-a200 {
    color: $black;
    background-color: #40C4FF;
}
.light-blue-a400 {
    color: $black;
    background-color: #00B0FF;
}
.light-blue-a700 {
    color: $white;
    background-color: #0091EA;
}
// Light Blue end

// Cyan start
.cyan-50 {
    color: $black;
    background-color: #E0F7FA;
}
.cyan-100 {
    color: $black;
    background-color: #B2EBF2;
}
.cyan-200 {
    color: $black;
    background-color: #80DEEA;
}
.cyan-300 {
    color: $black;
    background-color: #4DD0E1;
}
.cyan-400 {
    color: $black;
    background-color: #26C6DA;
}
.cyan-500 {
    color: $black;
    background-color: #00BCD4;
}
.cyan-600 {
    color: $black;
    background-color: #00ACC1;
}
.cyan-700 {
    color: $white;
    background-color: #0097A7;
}
.cyan-800 {
    color: $white;
    background-color: #00838F;
}
.cyan-900 {
    color: $white;
    background-color: #006064;
}
.cyan-a100 {
    color: $black;
    background-color: #84FFFF;
}
.cyan-a200 {
    color: $black;
    background-color: #18FFFF;
}
.cyan-a400 {
    color: $black;
    background-color: #00E5FF;
}
.cyan-a700 {
    color: $black;
    background-color: #00B8D4;
}
// Cyan end

// Teal start
.teal-50 {
    color: $black;
    background-color: #E0F2F1;
}
.teal-100 {
    color: $black;
    background-color: #B2DFDB;
}
.teal-200 {
    color: $black;
    background-color: #80CBC4;
}
.teal-300 {
    color: $black;
    background-color: #4DB6AC;
}
.teal-400 {
    color: $black;
    background-color: #26A69A;
}
.teal-500 {
    color: $white;
    background-color: #26A69A;
}
.teal-600 {
    color: $white;
    background-color: #00897B;
}
.teal-700 {
    color: $white;
    background-color: #00796B;
}
.teal-800 {
    color: $white;
    background-color: #00695C;
}
.teal-900 {
    color: $white;
    background-color: #004D40;
}
.teal-a100 {
    color: $black;
    background-color: #A7FFEB;
}
.teal-a200 {
    color: $black;
    background-color: #64FFDA;
}
.teal-a400 {
    color: $black;
    background-color: #1DE9B6;
}
.teal-a700 {
    color: $black;
    background-color: #00BFA5;
}
// Teal end

// Green start
.green-50 {
    color: $black;
    background-color: #E8F5E9;
}
.green-100 {
    color: $black;
    background-color: #C8E6C9;
}
.green-200 {
    color: $black;
    background-color: #A5D6A7;
}
.green-300 {
    color: $black;
    background-color: #81C784;
}
.green-400 {
    color: $black;
    background-color: #66BB6A;
}
.green-500 {
    color: $black;
    background-color: #4CAF50;
}
.green-600 {
    color: $white;
    background-color: #43A047;
}
.green-700 {
    color: $white;
    background-color: #388E3C;
}
.green-800 {
    color: $white;
    background-color: #2E7D32;
}
.green-900 {
    color: $white;
    background-color: #1B5E20;
}
.green-a100 {
    color: $black;
    background-color: #B9F6CA;
}
.green-a200 {
    color: $black;
    background-color: #69F0AE;
}
.green-a400 {
    color: $black;
    background-color: #00E676;
}
.green-a700 {
    color: $black;
    background-color: #00C853;
}
// Green end

// Light Green start
.light-green-50 {
    color: $black;
    background-color: #F1F8E9;
}
.light-green-100 {
    color: $black;
    background-color: #DCEDC8;
}
.light-green-200 {
    color: $black;
    background-color: #C5E1A5;
}
.light-green-300 {
    color: $black;
    background-color: #AED581;
}
.light-green-400 {
    color: $black;
    background-color: #9CCC65;
}
.light-green-500 {
    color: $black;
    background-color: #8BC34A;
}
.light-green-600 {
    color: $black;
    background-color: #7CB342;
}
.light-green-700 {
    color: $black;
    background-color: #689F38;
}
.light-green-800 {
    color: $white;
    background-color: #558B2F;
}
.light-green-900 {
    color: $white;
    background-color: #33691E;
}
.light-green-a100 {
    color: $black;
    background-color: #CCFF90;
}
.light-green-a200 {
    color: $black;
    background-color: #B2FF59;
}
.light-green-a400 {
    color: $black;
    background-color: #76FF03;
}
.light-green-a700 {
    color: $black;
    background-color: #64DD17;
}
// Light Green end

// Lime start
.lime-50 {
    color: $black;
    background-color: #F9FBE7;
}
.lime-100 {
    color: $black;
    background-color: #F0F4C3;
}
.lime-200 {
    color: $black;
    background-color: #E6EE9C;
}
.lime-300 {
    color: $black;
    background-color: #DCE775;
}
.lime-400 {
    color: $black;
    background-color: #D4E157;
}
.lime-500 {
    color: $black;
    background-color: #CDDC39;
}
.lime-600 {
    color: $black;
    background-color: #C0CA33;
}
.lime-700 {
    color: $black;
    background-color: #AFB42B;
}
.lime-800 {
    color: $black;
    background-color: #9E9D24;
}
.lime-900 {
    color: $white;
    background-color: #827717;
}
.lime-a100 {
    color: $black;
    background-color: #F4FF81;
}
.lime-a200 {
    color: $black;
    background-color: #EEFF41;
}
.lime-a400 {
    color: $black;
    background-color: #C6FF00;
}
.lime-a700 {
    color: $black;
    background-color: #AEEA00;
}
// Lime end

// Yellow start
.yellow-50 {
    color: $black;
    background-color: #FFFDE7;
}
.yellow-100 {
    color: $black;
    background-color: #FFF9C4;
}
.yellow-200 {
    color: $black;
    background-color: #FFF59D;
}
.yellow-300 {
    color: $black;
    background-color: #FFF176;
}
.yellow-400 {
    color: $black;
    background-color: #FFEE58;
}
.yellow-500 {
    color: $black;
    background-color: #FFEB3B;
}
.yellow-600 {
    color: $black;
    background-color: #FDD835;
}
.yellow-700 {
    color: $black;
    background-color: #FBC02D;
}
.yellow-800 {
    color: $black;
    background-color: #F9A825;
}
.yellow-900 {
    color: $black;
    background-color: #F57F17;
}
.yellow-a100 {
    color: $black;
    background-color: #FFFF8D;
}
.yellow-a200 {
    color: $black;
    background-color: #FFFF00;
}
.yellow-a400 {
    color: $black;
    background-color: #FFEA00;
}
.yellow-a700 {
    color: $black;
    background-color: #FFD600;
}
// Yellow end

// Amber start
.amber-50 {
    color: $black;
    background-color: #FFF8E1;
}
.amber-100 {
    color: $black;
    background-color: #FFECB3;
}
.amber-200 {
    color: $black;
    background-color: #FFE082;
}
.amber-300 {
    color: $black;
    background-color: #FFD54F;
}
.amber-400 {
    color: $black;
    background-color: #FFCA28;
}
.amber-500 {
    color: $black;
    background-color: #FFC107;
}
.amber-600 {
    color: $black;
    background-color: #FFB300;
}
.amber-700 {
    color: $black;
    background-color: #FFA000;
}
.amber-800 {
    color: $black;
    background-color: #FF8F00;
}
.amber-900 {
    color: $black;
    background-color: #FF6F00;
}
.amber-a100 {
    color: $black;
    background-color: #FFE57F;
}
.amber-a200 {
    color: $black;
    background-color: #FFD740;
}
.amber-a400 {
    color: $black;
    background-color: #FFC400;
}
.amber-a700 {
    color: $black;
    background-color: #FFAB00;
}
// Amber end

// Orange start
.orange-50 {
    color: $black;
    background-color: #FFF3E0;
}
.orange-100 {
    color: $black;
    background-color: #FFE0B2;
}
.orange-200 {
    color: $black;
    background-color: #FFCC80;
}
.orange-300 {
    color: $black;
    background-color: #FFB74D;
}
.orange-400 {
    color: $black;
    background-color: #FFA726;
}
.orange-500 {
    color: $black;
    background-color: #FF9800;
}
.orange-600 {
    color: $black;
    background-color: #FB8C00;
}
.orange-700 {
    color: $black;
    background-color: #F57C00;
}
.orange-800 {
    color: $black;
    background-color: #EF6C00;
}
.orange-900 {
    color: $white;
    background-color: #E65100;
}
.orange-a100 {
    color: $black;
    background-color: #FFD180;
}
.orange-a200 {
    color: $black;
    background-color: #FFAB40;
}
.orange-a400 {
    color: $black;
    background-color: #FF9100;
}
.orange-a700 {
    color: $black;
    background-color: #FF6D00;
}
// Orange end

// Deep Orange start
.deep-orange-50 {
    color: $black;
    background-color: #FBE9E7;
}
.deep-orange-100 {
    color: $black;
    background-color: #FFCCBC;
}
.deep-orange-200 {
    color: $black;
    background-color: #FFAB91;
}
.deep-orange-300 {
    color: $black;
    background-color: #FF8A65;
}
.deep-orange-400 {
    color: $black;
    background-color: #FF7043;
}
.deep-orange-500 {
    color: $black;
    background-color: #FF5722;
}
.deep-orange-600 {
    color: $white;
    background-color: #F4511E;
}
.deep-orange-700 {
    color: $white;
    background-color: #E64A19;
}
.deep-orange-800 {
    color: $white;
    background-color: #D84315;
}
.deep-orange-900 {
    color: $white;
    background-color: #BF360C;
}
.deep-orange-a100 {
    color: $black;
    background-color: #FF9E80;
}
.deep-orange-a200 {
    color: $black;
    background-color: #FF6E40;
}
.deep-orange-a400 {
    color: $white;
    background-color: #FF3D00;
}
.deep-orange-a700 {
    color: $white;
    background-color: #DD2C00;
}
// Deep Orange end

// Brown start
.brown-50 {
    color: $black;
    background-color: #EFEBE9;
}
.brown-100 {
    color: $black;
    background-color: #D7CCC8;
}
.brown-200 {
    color: $black;
    background-color: #BCAAA4;
}
.brown-300 {
    color: $white;
    background-color: #A1887F;
}
.brown-400 {
    color: $white;
    background-color: #8D6E63;
}
.brown-500 {
    color: $white;
    background-color: #795548;
}
.brown-600 {
    color: $white;
    background-color: #6D4C41;
}
.brown-700 {
    color: $white;
    background-color: #5D4037;
}
.brown-800 {
    color: $white;
    background-color: #4E342E;
}
.brown-900 {
    color: $white;
    background-color: #3E2723;
}
// Brown end

// Gray start
.gray-50 {
    color: $black;
    background-color: #FAFAFA;
}
.gray-100 {
    color: $black;
    background-color: #F5F5F5;
}
.gray-200 {
    color: $black;
    background-color: #EEEEEE;
}
.gray-300 {
    color: $black;
    background-color: #E0E0E0;
}
.gray-400 {
    color: $black;
    background-color: #BDBDBD;
}
.gray-500 {
    color: $black;
    background-color: #9E9E9E;
}
.gray-600 {
    color: $white;
    background-color: #757575;
}
.gray-700 {
    color: $white;
    background-color: #616161;
}
.gray-800 {
    color: $white;
    background-color: #424242;
}
.gray-900 {
    color: $white;
    background-color: #212121;
}
// Gray end

// Blue Gray start
.blue-gray-50 {
    color: $black;
    background-color: #ECEFF1;
}
.blue-gray-100 {
    color: $black;
    background-color: #CFD8DC;
}
.blue-gray-200 {
    color: $black;
    background-color: #B0BEC5;
}
.blue-gray-300 {
    color: $black;
    background-color: #90A4AE;
}
.blue-gray-400 {
    color: $white;
    background-color: #78909C;
}
.blue-gray-500 {
    color: $white;
    background-color: #607D8B;
}
.blue-gray-600 {
    color: $white;
    background-color: #546E7A;
}
.blue-gray-700 {
    color: $white;
    background-color: #455A64;
}
.blue-gray-800 {
    color: $white;
    background-color: #37474F;
}
.blue-gray-900 {
    color: $white;
    background-color: #263238;
}
// Blue Gray end