// Custom.scss
// Option B: Include parts of Bootstrap

// Bootstrap and its default variables
@import "/node_modules/bootstrap/scss/bootstrap";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "/node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/images";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here

$black: #262626;
$white: #FBFBFB;

$amber: #FFC107;
$blue-gray: #607D8B;
$blue: #2196F3;
$brown: #795548;
$cyan: #00BCD4;
$deep-orange: #FF5722;
$deep-purple: #673AB7;
$gray: #9E9E9E;
$green: #4CAF50;
$indigo: #3F51B5;
$light-blue: #03A9F4;
$light-green: #8BC34A;
$lime: #CDDC39;
$orange: #FF9800;
$pink: #E91E63;
$purple: #9C27B0;
$red: #F44336;
$teal: #26A69A;
$yellow: #FFEB3B;

$colors: (
    "black": $black,
    "white": $white,

    "amber": $amber,
    "blue-gray": $blue-gray,
    "blue": $blue,
    "brown": $brown,
    "cyan": $cyan,
    "deep-orange": $deep-orange,
    "deep-purple": $deep-purple,
    "gray": $gray,
    "green": $green,
    "indigo": $indigo,
    "light-blue": $light-blue,
    "light-green": $light-green,
    "lime": $lime,
    "orange": $orange,
    "pink": $pink,
    "purple": $purple,
    "red": $red,
    "teal": $teal,
    "yellow": $yellow
);

// Black
.color-black {
    color: $white;
    background-color: $black;
}

// White
.color-white {
    color: $black;
    background-color: $white;
}

// red-50 #FFEBEE

/*
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.color-red-50 {
    color: $black;
    background-color: tint($red,10);
}
*/

//### SASS function to extend Bootstrap
//### --> quick and dirty demo example!!!
@mixin make-color-classes( $class_prefix, $color_name, $color ){

    // note: positive values = tint | negative values = shade
    $swatch_variations: (80, 60, 40, 20, 0, -20, -40, -60, -80);

    $i: 1;
    @each $variation in $swatch_variations {

        // process bootstrap color
        @if ($variation > 0){
            $swatch_color: tint($color);
        }@else if ($variation < 0) {
            $variation: $variation * -1;
            $swatch_color: shade($color);
        }@else{
            $swatch_color: $color;
        }

        // write class
        $color_number: $i * 100;
        .#{$class_prefix}-#{$color_name}-#{$color_number} {
            background-color: tint-color($color, $variation );
        }

        $i: $i + 1;
    } 
}

//### NOW EXTENDED:
//### create helper classes for all named default bootstrap colors
@each $color_name, $color in $colors {
    @include make-color-classes('color', $color_name, $color);
}

@function tint($color, $percentage) {
    @return mix($white, $color, $percentage);
}
@function shade($color, $percentage) {
    @return mix($black, $color, $percentage);
}

.color-red-50 {
    color: $black;
    background-color: tint($red,90);
}
.color-red-100 {
    color: $black;
    background-color: tint($red,80);
}
.color-red-200 {
    color: $black;
    background-color: tint($red,60);
}
.color-red-300 {
    color: $black;
    background-color: tint($red,40);
}
.color-red-400 {
    color: $black;
    background-color: tint($red,20);
}
.color-red-500 {
    color: $black;
    background-color: $red;
}
.color-red-600 {
    color: $black;
    background-color: shade($red,20);
}
.color-red-700 {
    color: $black;
    background-color: shade($red,40);
}
.color-red-800 {
    color: $black;
    background-color: shade($red,60);
}
.color-red-900 {
    color: color-contrast(shade($red,60));
    background-color: shade($red,80);
}

/*
// red start
.color-red-50 {
    color: $black;
    background-color: #FFEBEE;
}
.color-red-100 {
    color: $black;
    background-color: #FFCDD2;
}
.color-red-200 {
    color: $black;
    background-color: #EF9A9A;
}
.color-red-300 {
    color: $black;
    background-color: #E57373;
}
.color-red-400 {
    color: $white;
    background-color: #EF5350;
}
.color-red-500 {
    color: $white;
    background-color: $red;
}
.color-red-600 {
    color: $white;
    background-color: #E53935;
}
.color-red-700 {
    color: $white;
    background-color: #D32F2F;
}
.color-red-800 {
    color: $white;
    background-color: #C62828;
}
.color-red-900 {
    color: $white;
    background-color: #B71C1C;
}
.color-red-a100 {
    color: $black;
    background-color: #FF8A80;
}
.color-red-a200 {
    color: $white;
    background-color: #FF5252;
}
.color-red-a400 {
    color: $white;
    background-color: #FF1744;
}
.color-red-a700 {
    color: $white;
    background-color: #D50000;
}
// red end

// Pink start
.color-pink-50 {
    color: $black;
    background-color: #FCE4EC;
}
.color-pink-100 {
    color: $black;
    background-color: #F8BBD0;
}
.color-pink-200 {
    color: $black;
    background-color: #F48FB1;
}
.color-pink-300 {
    color: $black;
    background-color: #F06292;
}
.color-pink-400 {
    color: $white;
    background-color: #EC407A;
}
.color-pink-500 {
    color: $white;
    background-color: $pink;
}
.color-pink-600 {
    color: $white;
    background-color: #D81B60;
}
.color-pink-700 {
    color: $white;
    background-color: #C2185B;
}
.color-pink-800 {
    color: $white;
    background-color: #AD1457;
}
.color-pink-900 {
    color: $white;
    background-color: #880E4F;
}
.color-pink-a100 {
    color: $black;
    background-color: #FF80AB;
}
.color-pink-a200 {
    color: $white;
    background-color: #FF4081;
}
.color-pink-a400 {
    color: $white;
    background-color: #F50057;
}
.color-pink-a700 {
    color: $white;
    background-color: #C51162;
}
// Pink end

// Purple start
.color-purple-50 {
    color: $black;
    background-color: #F3E5F5;
}
.color-purple-100 {
    color: $black;
    background-color: #E1BEE7;
}
.color-purple-200 {
    color: $black;
    background-color: #CE93D8;
}
.color-purple-300 {
    color: $white;
    background-color: #BA68C8;
}
.color-purple-400 {
    color: $white;
    background-color: #AB47BC;
}
.color-purple-500 {
    color: $white;
    background-color: $purple;
}
.color-purple-600 {
    color: $white;
    background-color: #8E24AA;
}
.color-purple-700 {
    color: $white;
    background-color: #7B1FA2;
}
.color-purple-800 {
    color: $white;
    background-color: #6A1B9A;
}
.color-purple-900 {
    color: $white;
    background-color: #4A148C;
}
.color-purple-a100 {
    color: $black;
    background-color: #EA80FC;
}
.color-purple-a200 {
    color: $white;
    background-color: #E040FB;
}
.color-purple-a400 {
    color: $white;
    background-color: #D500F9;
}
.color-purple-a700 {
    color: $white;
    background-color: #AA00FF;
}
// Purple end

// Deep Purple start
.color-deep-purple-50 {
    color: $black;
    background-color: #EDE7F6;
}
.color-deep-purple-100 {
    color: $black;
    background-color: #D1C4E9;
}
.color-deep-purple-200 {
    color: $black;
    background-color: #B39DDB;
}
.color-deep-purple-300 {
    color: $white;
    background-color: #9575CD;
}
.color-deep-purple-400 {
    color: $white;
    background-color: #7E57C2;
}
.color-deep-purple-500 {
    color: $white;
    background-color: $deep-purple;
}
.color-deep-purple-600 {
    color: $white;
    background-color: #5E35B1;
}
.color-deep-purple-700 {
    color: $white;
    background-color: #512DA8;
}
.color-deep-purple-800 {
    color: $white;
    background-color: #4527A0;
}
.color-deep-purple-900 {
    color: $white;
    background-color: #311B92;
}
.color-deep-purple-a100 {
    color: $black;
    background-color: #B388FF;
}
.color-deep-purple-a200 {
    color: $white;
    background-color: #7C4DFF;
}
.color-deep-purple-a400 {
    color: $white;
    background-color: #651FFF;
}
.color-deep-purple-a700 {
    color: $white;
    background-color: #6200EA;
}
// Deep Purple end

// Indigo start
.color-indigo-50 {
    color: $black;
    background-color: #E8EAF6;
}
.color-indigo-100 {
    color: $black;
    background-color: #C5CAE9;
}
.color-indigo-200 {
    color: $black;
    background-color: #9FA8DA;
}
.color-indigo-300 {
    color: $white;
    background-color: #7986CB;
}
.color-indigo-400 {
    color: $white;
    background-color: #5C6BC0;
}
.color-indigo-500 {
    color: $white;
    background-color: $indigo;
}
.color-indigo-600 {
    color: $white;
    background-color: #3949AB;
}
.color-indigo-700 {
    color: $white;
    background-color: #303F9F;
}
.color-indigo-800 {
    color: $white;
    background-color: #283593;
}
.color-indigo-900 {
    color: $white;
    background-color: #1A237E;
}
.color-indigo-a100 {
    color: $black;
    background-color: #8C9EFF;
}
.color-indigo-a200 {
    color: $white;
    background-color: #536DFE;
}
.color-indigo-a400 {
    color: $white;
    background-color: #3D5AFE;
}
.color-indigo-a700 {
    color: $white;
    background-color: #304FFE;
}
// Indigo end

// Blue start
.color-blue-50 {
    color: $black;
    background-color: #E3F2FD;
}
.color-blue-100 {
    color: $black;
    background-color: #BBDEFB;
}
.color-blue-200 {
    color: $black;
    background-color: #90CAF9;
}
.color-blue-300 {
    color: $black;
    background-color: #64B5F6;
}
.color-blue-400 {
    color: $black;
    background-color: #42A5F5;
}
.color-blue-500 {
    color: $black;
    background-color: $blue;
}
.color-blue-600 {
    color: $black;
    background-color: #1E88E5;
}
.color-blue-700 {
    color: $white;
    background-color: #1976D2;
}
.color-blue-800 {
    color: $white;
    background-color: #1565C0;
}
.color-blue-900 {
    color: $white;
    background-color: #0D47A1;
}
.color-blue-a100 {
    color: $black;
    background-color: #82B1FF;
}
.color-blue-a200 {
    color: $white;
    background-color: #448AFF;
}
.color-blue-a400 {
    color: $white;
    background-color: #2979FF;
}
.color-blue-a700 {
    color: $white;
    background-color: #2962FF;
}
// Blue end

// Light Blue start
.color-light-blue-50 {
    color: $black;
    background-color: #E1F5FE;
}
.color-light-blue-100 {
    color: $black;
    background-color: #B3E5FC;
}
.color-light-blue-200 {
    color: $black;
    background-color: #81D4FA;
}
.color-light-blue-300 {
    color: $black;
    background-color: #4FC3F7;
}
.color-light-blue-400 {
    color: $black;
    background-color: #29B6F6;
}
.color-light-blue-500 {
    color: $black;
    background-color: $light-blue;
}
.color-light-blue-600 {
    color: $black;
    background-color: #039BE5;
}
.color-light-blue-700 {
    color: $white;
    background-color: #0288D1;
}
.color-light-blue-800 {
    color: $white;
    background-color: #0277BD;
}
.color-light-blue-900 {
    color: $white;
    background-color: #01579B;
}
.color-light-blue-a100 {
    color: $black;
    background-color: #80D8FF;
}
.color-light-blue-a200 {
    color: $black;
    background-color: #40C4FF;
}
.color-light-blue-a400 {
    color: $black;
    background-color: #00B0FF;
}
.color-light-blue-a700 {
    color: $white;
    background-color: #0091EA;
}
// Light Blue end

// Cyan start
.color-cyan-50 {
    color: $black;
    background-color: #E0F7FA;
}
.color-cyan-100 {
    color: $black;
    background-color: #B2EBF2;
}
.color-cyan-200 {
    color: $black;
    background-color: #80DEEA;
}
.color-cyan-300 {
    color: $black;
    background-color: #4DD0E1;
}
.color-cyan-400 {
    color: $black;
    background-color: #26C6DA;
}
.color-cyan-500 {
    color: $black;
    background-color: $cyan;
}
.color-cyan-600 {
    color: $black;
    background-color: #00ACC1;
}
.color-cyan-700 {
    color: $white;
    background-color: #0097A7;
}
.color-cyan-800 {
    color: $white;
    background-color: #00838F;
}
.color-cyan-900 {
    color: $white;
    background-color: #006064;
}
.color-cyan-a100 {
    color: $black;
    background-color: #84FFFF;
}
.color-cyan-a200 {
    color: $black;
    background-color: #18FFFF;
}
.color-cyan-a400 {
    color: $black;
    background-color: #00E5FF;
}
.color-cyan-a700 {
    color: $black;
    background-color: #00B8D4;
}
// Cyan end

// Teal start
.color-teal-50 {
    color: $black;
    background-color: #E0F2F1;
}
.color-teal-100 {
    color: $black;
    background-color: #B2DFDB;
}
.color-teal-200 {
    color: $black;
    background-color: #80CBC4;
}
.color-teal-300 {
    color: $black;
    background-color: #4DB6AC;
}
.color-teal-400 {
    color: $black;
    background-color: #26A69A;
}
.color-teal-500 {
    color: $white;
    background-color: $teal;
}
.color-teal-600 {
    color: $white;
    background-color: #00897B;
}
.color-teal-700 {
    color: $white;
    background-color: #00796B;
}
.color-teal-800 {
    color: $white;
    background-color: #00695C;
}
.color-teal-900 {
    color: $white;
    background-color: #004D40;
}
.color-teal-a100 {
    color: $black;
    background-color: #A7FFEB;
}
.color-teal-a200 {
    color: $black;
    background-color: #64FFDA;
}
.color-teal-a400 {
    color: $black;
    background-color: #1DE9B6;
}
.color-teal-a700 {
    color: $black;
    background-color: #00BFA5;
}
// Teal end

// Green start
.color-green-50 {
    color: $black;
    background-color: #E8F5E9;
}
.color-green-100 {
    color: $black;
    background-color: #C8E6C9;
}
.color-green-200 {
    color: $black;
    background-color: #A5D6A7;
}
.color-green-300 {
    color: $black;
    background-color: #81C784;
}
.color-green-400 {
    color: $black;
    background-color: #66BB6A;
}
.color-green-500 {
    color: $black;
    background-color: $green;
}
.color-green-600 {
    color: $white;
    background-color: #43A047;
}
.color-green-700 {
    color: $white;
    background-color: #388E3C;
}
.color-green-800 {
    color: $white;
    background-color: #2E7D32;
}
.color-green-900 {
    color: $white;
    background-color: #1B5E20;
}
.color-green-a100 {
    color: $black;
    background-color: #B9F6CA;
}
.color-green-a200 {
    color: $black;
    background-color: #69F0AE;
}
.color-green-a400 {
    color: $black;
    background-color: #00E676;
}
.color-green-a700 {
    color: $black;
    background-color: #00C853;
}
// Green end

// Light Green start
.color-light-green-50 {
    color: $black;
    background-color: #F1F8E9;
}
.color-light-green-100 {
    color: $black;
    background-color: #DCEDC8;
}
.color-light-green-200 {
    color: $black;
    background-color: #C5E1A5;
}
.color-light-green-300 {
    color: $black;
    background-color: #AED581;
}
.color-light-green-400 {
    color: $black;
    background-color: #9CCC65;
}
.color-light-green-500 {
    color: $black;
    background-color: $light-green;
}
.color-light-green-600 {
    color: $black;
    background-color: #7CB342;
}
.color-light-green-700 {
    color: $black;
    background-color: #689F38;
}
.color-light-green-800 {
    color: $white;
    background-color: #558B2F;
}
.color-light-green-900 {
    color: $white;
    background-color: #33691E;
}
.color-light-green-a100 {
    color: $black;
    background-color: #CCFF90;
}
.color-light-green-a200 {
    color: $black;
    background-color: #B2FF59;
}
.color-light-green-a400 {
    color: $black;
    background-color: #76FF03;
}
.color-light-green-a700 {
    color: $black;
    background-color: #64DD17;
}
// Light Green end

// Lime start
.color-lime-50 {
    color: $black;
    background-color: #F9FBE7;
}
.color-lime-100 {
    color: $black;
    background-color: #F0F4C3;
}
.color-lime-200 {
    color: $black;
    background-color: #E6EE9C;
}
.color-lime-300 {
    color: $black;
    background-color: #DCE775;
}
.color-lime-400 {
    color: $black;
    background-color: #D4E157;
}
.color-lime-500 {
    color: $black;
    background-color: $lime;
}
.color-lime-600 {
    color: $black;
    background-color: #C0CA33;
}
.color-lime-700 {
    color: $black;
    background-color: #AFB42B;
}
.color-lime-800 {
    color: $black;
    background-color: #9E9D24;
}
.color-lime-900 {
    color: $white;
    background-color: #827717;
}
.color-lime-a100 {
    color: $black;
    background-color: #F4FF81;
}
.color-lime-a200 {
    color: $black;
    background-color: #EEFF41;
}
.color-lime-a400 {
    color: $black;
    background-color: #C6FF00;
}
.color-lime-a700 {
    color: $black;
    background-color: #AEEA00;
}
// Lime end

// Yellow start
.color-yellow-50 {
    color: $black;
    background-color: #FFFDE7;
}
.color-yellow-100 {
    color: $black;
    background-color: #FFF9C4;
}
.color-yellow-200 {
    color: $black;
    background-color: #FFF59D;
}
.color-yellow-300 {
    color: $black;
    background-color: #FFF176;
}
.color-yellow-400 {
    color: $black;
    background-color: #FFEE58;
}
.color-yellow-500 {
    color: $black;
    background-color: $yellow;
}
.color-yellow-600 {
    color: $black;
    background-color: #FDD835;
}
.color-yellow-700 {
    color: $black;
    background-color: #FBC02D;
}
.color-yellow-800 {
    color: $black;
    background-color: #F9A825;
}
.color-yellow-900 {
    color: $black;
    background-color: #F57F17;
}
.color-yellow-a100 {
    color: $black;
    background-color: #FFFF8D;
}
.color-yellow-a200 {
    color: $black;
    background-color: #FFFF00;
}
.color-yellow-a400 {
    color: $black;
    background-color: #FFEA00;
}
.color-yellow-a700 {
    color: $black;
    background-color: #FFD600;
}
// Yellow end

// Amber start
.color-amber-50 {
    color: $black;
    background-color: #FFF8E1;
}
.color-amber-100 {
    color: $black;
    background-color: #FFECB3;
}
.color-amber-200 {
    color: $black;
    background-color: #FFE082;
}
.color-amber-300 {
    color: $black;
    background-color: #FFD54F;
}
.color-amber-400 {
    color: $black;
    background-color: #FFCA28;
}
.color-amber-500 {
    color: $black;
    background-color: $amber;
}
.color-amber-600 {
    color: $black;
    background-color: #FFB300;
}
.color-amber-700 {
    color: $black;
    background-color: #FFA000;
}
.color-amber-800 {
    color: $black;
    background-color: #FF8F00;
}
.color-amber-900 {
    color: $black;
    background-color: #FF6F00;
}
.color-amber-a100 {
    color: $black;
    background-color: #FFE57F;
}
.color-amber-a200 {
    color: $black;
    background-color: #FFD740;
}
.color-amber-a400 {
    color: $black;
    background-color: #FFC400;
}
.color-amber-a700 {
    color: $black;
    background-color: #FFAB00;
}
// Amber end

// Orange start
.color-orange-50 {
    color: $black;
    background-color: #FFF3E0;
}
.color-orange-100 {
    color: $black;
    background-color: #FFE0B2;
}
.color-orange-200 {
    color: $black;
    background-color: #FFCC80;
}
.color-orange-300 {
    color: $black;
    background-color: #FFB74D;
}
.color-orange-400 {
    color: $black;
    background-color: #FFA726;
}
.color-orange-500 {
    color: $black;
    background-color: $orange;
}
.color-orange-600 {
    color: $black;
    background-color: #FB8C00;
}
.color-orange-700 {
    color: $black;
    background-color: #F57C00;
}
.color-orange-800 {
    color: $black;
    background-color: #EF6C00;
}
.color-orange-900 {
    color: $white;
    background-color: #E65100;
}
.color-orange-a100 {
    color: $black;
    background-color: #FFD180;
}
.color-orange-a200 {
    color: $black;
    background-color: #FFAB40;
}
.color-orange-a400 {
    color: $black;
    background-color: #FF9100;
}
.color-orange-a700 {
    color: $black;
    background-color: #FF6D00;
}
// Orange end

// Deep Orange start
.color-deep-orange-50 {
    color: $black;
    background-color: #FBE9E7;
}
.color-deep-orange-100 {
    color: $black;
    background-color: #FFCCBC;
}
.color-deep-orange-200 {
    color: $black;
    background-color: #FFAB91;
}
.color-deep-orange-300 {
    color: $black;
    background-color: #FF8A65;
}
.color-deep-orange-400 {
    color: $black;
    background-color: #FF7043;
}
.color-deep-orange-500 {
    color: $black;
    background-color: $deep-orange;
}
.color-deep-orange-600 {
    color: $white;
    background-color: #F4511E;
}
.color-deep-orange-700 {
    color: $white;
    background-color: #E64A19;
}
.color-deep-orange-800 {
    color: $white;
    background-color: #D84315;
}
.color-deep-orange-900 {
    color: $white;
    background-color: #BF360C;
}
.color-deep-orange-a100 {
    color: $black;
    background-color: #FF9E80;
}
.color-deep-orange-a200 {
    color: $black;
    background-color: #FF6E40;
}
.color-deep-orange-a400 {
    color: $white;
    background-color: #FF3D00;
}
.color-deep-orange-a700 {
    color: $white;
    background-color: #DD2C00;
}
// Deep Orange end

// Brown start
.color-brown-50 {
    color: $black;
    background-color: #EFEBE9;
}
.color-brown-100 {
    color: $black;
    background-color: #D7CCC8;
}
.color-brown-200 {
    color: $black;
    background-color: #BCAAA4;
}
.color-brown-300 {
    color: $white;
    background-color: #A1887F;
}
.color-brown-400 {
    color: $white;
    background-color: #8D6E63;
}
.color-brown-500 {
    color: $white;
    background-color: $brown;
}
.color-brown-600 {
    color: $white;
    background-color: #6D4C41;
}
.color-brown-700 {
    color: $white;
    background-color: #5D4037;
}
.color-brown-800 {
    color: $white;
    background-color: #4E342E;
}
.color-brown-900 {
    color: $white;
    background-color: #3E2723;
}
// Brown end

// Gray start
.color-gray-50 {
    color: $black;
    background-color: #FAFAFA;
}
.color-gray-100 {
    color: $black;
    background-color: #F5F5F5;
}
.color-gray-200 {
    color: $black;
    background-color: #EEEEEE;
}
.color-gray-300 {
    color: $black;
    background-color: #E0E0E0;
}
.color-gray-400 {
    color: $black;
    background-color: #BDBDBD;
}
.color-gray-500 {
    color: $black;
    background-color: $gray;
}
.color-gray-600 {
    color: $white;
    background-color: #757575;
}
.color-gray-700 {
    color: $white;
    background-color: #616161;
}
.color-gray-800 {
    color: $white;
    background-color: #424242;
}
.color-gray-900 {
    color: $white;
    background-color: #212121;
}
// Gray end

// Blue Gray start
.color-blue-gray-50 {
    color: $black;
    background-color: #ECEFF1;
}
.color-blue-gray-100 {
    color: $black;
    background-color: #CFD8DC;
}
.color-blue-gray-200 {
    color: $black;
    background-color: #B0BEC5;
}
.color-blue-gray-300 {
    color: $black;
    background-color: #90A4AE;
}
.color-blue-gray-400 {
    color: $white;
    background-color: #78909C;
}
.color-blue-gray-500 {
    color: $white;
    background-color: $blue-gray;
}
.color-blue-gray-600 {
    color: $white;
    background-color: #546E7A;
}
.color-blue-gray-700 {
    color: $white;
    background-color: #455A64;
}
.color-blue-gray-800 {
    color: $white;
    background-color: #37474F;
}
.color-blue-gray-900 {
    color: $white;
    background-color: #263238;
}
// Blue Gray end

// Black
.color-text-black {
    color: $black;
}

// White
.color-text-white {
    color: $white;
}
*/